<div class="backgroundFiller fillBigger"></div>
<div id="logsMain" class="mainPageMain siteCentered">
	<div class="heading">
		<h1>Takipi Log Links</h1>
		<h2>Stop deciphering log errors and see the actual data and code which caused them.</h2>
		<div class="createAccountZone">
			<a id="mainCreateAccountBtn" class="createAccount" href="@globals.TAKIPI_CREATE_ACCOUNT"></a>
			<div class="javaScala">Java/Scala developers</div>
			<div class="noCredit">Free trial, no credit card required</div>
		</div>
	</div>
	<div class="content styled">
		<h3>Takipi makes your log files smarter by connecting them directly to your code. For each error in your log you'll now automatically see - </h3>
		<ul class="stepsList">
			<li>The actual variable and object values across the stack.</li>
			<li>The exact source code which executed at the moment the error occurred.</li>
			<li>The rate of the error across all your machines, and in which deployment it first appeared.</li>
		</ul>
		<div class="infographicHolder">
			<div class="logsInfographic"></div>
		</div>
		<h3>Whenever an error is logged, Takipi automatically appends a tiny URL to it. Takipi supports Logback, Log4j, SLF4J, Akka logging, Apache JCL & JUL.</h3>
		<h3>Click the link to see the source code and variable values as if you were there at the moment the error occurred.</h3>
		<div class="screenshotHolder">
			<div class="logsScreenshot"></div>
			<div class="logsTerminal"></div>
			<div class="arrow"></div>
		</div>
	</div>
</div>