<div class="backgroundFiller"></div>
<div id="monstersMain" class="subPageMain siteCentered">
	<div class="heading">
		<h1>What's the deal with the monsters?</h1>
		<div class="headerMiniSignup"></div>
	</div>
	<div class="content styled">
		<span>Meet some of the monster exceptions and problems Takipi helps you debug in production -</span>
		<div class="img invalid"></div>
		<div class="img fred"></div>
		<div class="img latency"></div>
		<div class="img null"></div>
		<div class="img index"></div>
		<div class="img stack"></div>
	</div>
	<div class="contentFooter">
		<span>* Yes, we know it's not a problem by itself, but it's such a pain when debugging servers we decided it should have its own monster</span>
	</div>
</div>