.stubSignupElement {
	color:#FFF;
	text-align:center;
	font-family:'Exo 2', Arial, Sans-serif;
}
.stubSignupElement .header {
	padding-bottom:15px;
	font-size:22px;
}
.stubSignupElement .stubSignupForm {
	padding:15px;
	background-color:#00AEEF;
	
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	border-radius:			2px;
	
	-moz-box-shadow:		0px 3px 0px 0px #008CBF;
	-webkit-box-shadow:		0px 3px 0px 0px #008CBF;
	box-shadow:				0px 3px 0px 0px #008CBF;
}
.stubSignupElement .emailInput {
	width:275px;
	padding:7px 10px;
	border:none;
	font-size:18px;
	font-family:'Exo 2', Arial, Sans-serif;
	font-weight:lighter;
	
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	border-radius:			3px;
}
.stubSignupElement .createStubAccountBtn {
	display:inline-block;
	margin-left:5px;
	padding:7px 10px;
	background-color:#EE6557;
	font-size:18px;
	cursor:pointer;
	
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	border-radius:			3px;
}
.stubSignupElement .createStubAccountBtn:hover {
	background-color:#BF5347;
}
.stubSignupElement .createStubAccountBtn.waitForResponse {
	opacity:0.7;
	cursor:wait;
}
.stubSignupElement .errorLabel {
	margin-top:10px;
	padding:2px 15px;
	background-color:#EE6557;
	text-align:left;
	font-size:14px;
	font-family:arial;
	
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	border-radius:			2px;
}
.stubSignupElement .errorLabel .loginLink {
	padding-left:5px;
	color:#662C26;
	text-decoration:none;
}
.stubSignupElement .footer {
	padding-top:10px;
	color:#06223A;
	font-size:15px;
}
