<ul category="general" class="qna selected">
	<li>
		<div class="title">How Takipi works</div>
		<div class="line">
			Takipi installs a daemon process and a JVM <a href="http://www.takipiblog.com/2014/01/07/double-agent-java-vs-native-agents/" class="link" target="_blank">agent library</a> on your servers. These two components work in tandem to log and send data to Takipi's analysis servers. Together they detect events (such as exceptions or logged errors) happening within your app and automatically create the code needed to log and collect the data you'll need to debug these errors in production.
		</div>
	</li>
	<li>
		<div class="title">Compatibility</div>
		<div class="subTitle">Supported Operating systems</div>
		<div class="line">- All major Linux distributions.</div>
		<div class="line">- Windows 7, 8 and Windows Server.</div>
		<div class="line">- Mac OS X.</div>
	</li>
	<li>
		<div class="subTitle">Supported JVMs and languages</div>
		<div class="line">Takipi supports all JVM based languages including Java, Scala, Clojure, Groovy, JRuby, Jython, ...</div>
		<div class="line">Takipi requires a 64bit Oracle / OpenJDK JRE version 6, 7 or 8 (32bit JVMs are not supported).</div>
	</li>
</ul>