<div category="security" class="qna selected">
	<ul>
		<li>
			<div class="q">How are you able to display my code within Takipi?</div>
			<div class="a">
				Takipi gathers source code in one of two ways: (a) if you deployed your .jar files with source code attached, it will gather that. This is recommended if you're using a language such as Scala or Clojure and want to see your code in its original form. (b) If no source code is attached, Takipi will decompile the bytecode into a Java representation.
			</div>
		</li>
		<li>
			<div class="q">How are my code and data protected?</div>
			<div class="a">
				Source code and exception data are encrypted using your secret 256 bit AES key before they are sent to Takipi, and can only be decrypted within your web browser using your secret key. <a class="blue underlinelink" href="@routes.BlueSite.security">Click here</a> to learn more about Takipi's security model.
			</div>
		</li>
	</ul>
</div>