<div id="blueSiteIndexMain">
    <section class="form-header">
        <div class="slimSiteCentered">
            <h1>Cut your debugging time<br/>by up to 80%</h1>
        </div>
    </section>
   
   
    <section class="schedule-form">
        <div class="slimSiteCentered">
            <form action="https://app.takipi.com/app/requestdemo" method="post">
               <input type="hidden" name="source" value="schedule-demo-popup" />
               <input type="hidden" name="user_timezone" />
                <p class="description">
                    <strong>Find out how.</strong><br/>
                    Schedule a call with one of our
                    performance engineers. 
                </p>
                <label>Email Address
                    <input type="email" name="email" value="" required/>
                </label>
                <label>Name
                    <input type="text" name="name" value="" required/>
                </label>
                <label>Company
                    <input type="text" name="company" value="" />
                </label>
                <label>Phone Number
                    <input type="text" name="phone" value="" />
                </label>
                <button type="submit">Submit &gt;&gt;</button>
                <div class="thanks">
                    <strong>Thanks,</strong><br/>
                    we will be in touch soon...
                </div>
            </form>
        </div>
    </section> 
    
    <section class="statistics">
        <div class="slimSiteCentered">
           <p>On average, dev teams who use Takipi see:</p>
            <ul>
                <li><strong>90%</strong> fewer critical bugs in production</li>
                <li><strong>95%</strong> reduction in the detect - fix - deploy cycle for production errors</li>
                <li><strong>70%</strong> reduction in the amount of log files needed</li>
            </ul>
        </div>
    </section>
    
    <section class="quotes no-background">
        <div class="slimSiteCentered">
            <blockquote>
			    <p>“I can see all my exceptions in a clear, visual way.<br/>
                   This helped me find issues with 3rd party code I previously didn't see.<br/>
			       On top of that, installation was smooth and easy!”</p>
			    <footer>
			        <cite>hp</cite>
			    </footer>
			</blockquote>
            <blockquote>
			    <p>“Takipi is one of the great new Java miracle<br />
                   technologies to appear on the scene”</p>
			    <footer>
			        <cite>InfoQ</cite>
			    </footer>
			</blockquote>
        </div>
    </section>
</div>
